
@model IEnumerable<Proyecto.Models.Usuario>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Bienvenidos</h1>
<div class="row">
    <div class=" offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Home" class="btn-secondary d-block mx-auto btn-lg"> Nuevo Usuario</a>
    </div>
</div>

<div class="row">
    <div class=" offset-9 col-3 mb-3">
        <a asp-action="Crear" asp-controller="Home" class="btn-secondary d-block mx-auto btn-lg"> Nuevo Usuario</a>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
