@model Proyecto.Models.Articulo
@{
    ViewData["Title"] = "Crear Articulo";
    Layout = "_LayoutDashboard";
}



<di v class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Crear articulo</strong></h1>

            </div>

            <div class="card-body">

                <form asp-action="Crear" method="post">


                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" placeholder="Ingresa el nombre" required />

                    </div>

                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input asp-for="Descripcion" class="form-control" placeholder="Ingresa la descripcion" required />

                    </div>

                    <div class="form-group">
                        <label asp-for="UrlImg" class="control-label"></label>
                        <input asp-for="UrlImg" class="form-control" placeholder="Ingresa el link" required />

                    </div>

                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-secondary d-block mx-auto"><i class="bi bi-person-fill"></i> Guardar</button>
                    </div>


                </form>

                <a asp-controller="Articulo" asp-action="Index">Volver</a>


            </div>


        </div>


    </div>




</di>



